*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: crimson;

}
.container{
    background-color: gainsboro;
    width: 900px;
    margin: auto;
    padding: 50px;
  
}
.container h1{
  text-align: center;
}
.container h2{
    margin-bottom: 30px;
    margin-top: 30px;
    color: brown;
    border-bottom: 2px dotted brown;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 15px;
    float: left;
}
p{
    line-height: 30px;
    text-align:justify;
}
