/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
body{
   background-color: #00FA9A;
   margin: 20%;
}
.title1{
    text-shadow: 5px 5px 10px white;
    font-size: 45px;
    text-align: center;
}
img{
    width: 100%;
    display: inline-block;
}
figcaption{
    font-size: 17px;
			font-family: Gill Sans;
			color: black;
}
.content{
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}
.content h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px 10px black;
}
article .text{
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    
}
.bitis{
    text-decoration: none;
	color: black;
    
}